#hero {
    background-image: url("../img/background.png");
    height: 80vh;
    background-size: cover;
    background-position: center bottom;

    @include md {
        height: 70vh;
    }

    @include lg {
        height: 80vh;
    }

    #overlay {
            height: 100%;
            display: grid;
  grid-template-columns: 30% auto 30%;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". t1 ."
    ". t2 ."
    ". t3 .";
}
       

        h1 {
            color: var(--dark-yellow);
            margin: 0;
            font-size: rem-calc(40);

            @include md {
                font-size: rem-calc(90);
            }

        
        }

        button {
            border: none;
            background-color: var(--red);
            color: var(--white);
            padding: 35px 150px 35px 150px;
            border-radius: 15px;
            margin-top: 100px;
            font-size: rem-calc(20);
            cursor: pointer;

            @include md {
                font-size: rem-calc(35);
                
            }

            @include sm{
                font-size: rem-calc(40);
            }

        }

        .fish-logo{
            max-width: 70%;
            display: flex;
            justify-content: flex;
        }
    }

    .fish {
        grid-area: t1;
        align-self: center;
        justify-self: center;
        padding-left: 150px;
      }

      .words {
        grid-area: t2;
        align-self: center;
        justify-self: center;
        text-align: center;
        
      }

      .ass {
        grid-area: t3;
        align-self: center;
        justify-self: center;
      }